body {
    font-family: Arial, Helvetica Neue, sans-serif;
    text-align: center;
}

#game {
    width: 200px;
    height: 400px;
    margin: auto;
    border: 4px dashed black;
}

#old-word {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #3366cc
}

#word-guess {
    font-size: 12px;
}

h2 {
    font-size: 18px;
}

h1 {    
    font-size: 22px;
}